@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root {
    --font-destaque: 'Inter', sans-serif;
}

#content-header {
    padding: 43px 70px;
    font-family: var(--font-destaque);
    border-bottom: 1px solid #DBDBDB;
}

#content-header h1 {
    text-align: center;
    font-size: 36px;
    line-height: 35px;
    font-weight: 200;

    text-transform: uppercase;

    color: #616161;
}

#content-header svg {
    color: var(--cor-primaria);
}

#content-header p {
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    display: inline-block;
    margin-left: 26px;

    color: #0078A0;
}

#progress-bar {
    padding: 47px;
}

#progress-bar img {
    margin: 0 auto;
    display: block;
}

#content {
    display: flex;
}

#main-panel {
    border-right: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    flex-grow: 1;
}

.left-margin {
    padding-left: 70px;
}

#main-panel h3 {
    font-weight: 700;

    /* identical to box height */
    text-transform: uppercase;

    color: #1B394E;
}

#main-panel h5 {
    font-weight: 500;
    text-transform: uppercase;
    padding: 11px 0;;

    color: #616161;
}

#main-panel h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;

    color: #616161;

    margin: 31px 0;
}

#main-panel h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;

    color: #616161;
}

#main-panel #paying-methods {
    background: #F9F9F9;
    border-top: 1px solid #DBDBDB;
    padding-bottom: 60px;
}

#side-bar {
    flex-grow: 4;
    padding: 0 81px;  
}

#side-bar h2 {
    font-size: 2.25rem;
    font-weight: 200;
    color: var(--cor-texto);
}

#botao-lateral {
    display: block;
    margin-top: 16px;
    padding: 20px;
    text-align: center;
    background: var(--cor-primaria);
    color: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 1rem;
}

#botao-lateral:hover {
    background: var(--cor-texto-destaque)
}

/* Menu de pagamento */
#method-selector {
    width: 875px;
    appearance: none;

    background-color: #fff;
    border: none;
    border-left: 5px solid #008CBA;
    border-right: 5px solid #008CBA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    
    padding: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #616161;
}

select::-ms-expand {
    display: none;
}

/* Pagina principal */

.info {
    margin: 28px 0;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    padding: 0 20px 20px 20px;  
}

/* Card de pagamento */

#payment-card {
    margin: 28px 0;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    padding: 0 20px 20px 20px;
    display: inline-flex;
}

#payment-card label {
    margin-top: 20px;
    display: block;
}

#payment-card input, #payment-card select {
    width: 270px;
    height: 32px;
    margin-top: 13px;
    display: inline-block;
    border: 2px solid var(--cor-primaria);
    border-radius: 3px;
    padding-left: 5px;
}

#payment-card #month {
    width: 50px;
    background: #FFF;
    margin-right: 14px;
}

#payment-card  #year  {
    width: 76px;
    background: #FFF;
}

#payment-card #codigo-seguranca {
    width: 100px;
}

#payment-card .flexbox-item {
    margin-left: 23px;
}
